{{!-- Header space for easier readability --}}


{{!-- Setup the main.handlebars file so it's able to be used by Handlebars. --}}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="./assets/css/style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/tasks.js"></script>
		{{!-- GOOGLE FONTS  --}}
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
		{{!-- BOOTSTRAP  --}}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<title>Task Manager</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>