{{!-- Header space for easier readability --}}


<div class="container shadow-lg">

  <div class="row d-flex justify-content-center">     
    <div class="date"></div>
  </div>

  <div class="row d-flex justify-content-center">
    <img class="title col-sm-8" src="../assets/images/BlueBanner.jpg" alt="Blue Banner">
  </div>
  

  <div class="row add col-sm-12 d-block m-auto">
    <form class="create-form" action="/" method="POST">

      <div class="form-group">
        <label for="task" class="font-weight-bold text-uppercase mt-1 d-block"><h5>Add a new task:</h5></label>
        <input class="text-center text-primary" type="text" id="task" name="newTask">
      </div>

      <button class="submit" type="submit"><p>Add Task</p></button>
    </form>
  </div> <!-- end add-a-task column -->

<!-- row enclosing list columns -->
<div class="row d-flex justify-content-center text-center"> 

  <div class="col-xs-12 col-sm-12 col-md-6 mx-auto">
    <h2 class="to-doCol heading border-bottom border-secondary mt-5">To-Do</h2>

    <div class="col-sm mt-2 tasks">
      <ol>
        {{#each tasks}}
          {{#unless completed}}
            {{> tasks/task-block}}
          {{/unless}}
        {{/each}}
      </ol>
    </div>

  </div> <!-- end column -->

  <div class=" col-xs-12 col-sm-12 col-md-6">
    <h2 class="doneCol heading border-bottom border-secondary mt-5">Done</h2>

    <div class="col-sm done mt-2">
      <ol>
        {{#each tasks}}
          {{#if completed}}
            {{> tasks/task-block }}
          {{/if}}
        {{/each}}
      </ol>
    </div>
  </div> <!-- end done column -->

</div> <!-- end row -->
</div> <!-- end container -->
