/* head space */

* {
  font-family: 'Playfair Display', serif;
}

.container {
  padding-top: 5vh;
  background-color: white;
  height: 120vh;
}

.date {
  padding-top: 5vh;

}

/* Task Manager Heading  */
.title {
  margin: 0 0 2vh 0;
}

/* add task column  */
.add {
  text-align: center;
}

h5 {
  color: #FB6AAE;
}

#task {
  width: 20vw;
  border: 2px solid #3f3f3f;
  border-radius: 3px;
}

/* Add Task Button  */
.submit {
  position: static;
  text-align: center;
  font-size: 1rem;
  font-family: 'Playfair Display', serif;
  color: black;
  background-color: #50D0DF;
  width: 100px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #3f3f3f;
  border-radius: 3px;
  }

  .submit:hover {
    background-color: #AFC907;
    border: 2px solid #3f3f3f;
  }

/* To-Do and Done Columns  */

.tasks,
.done {
    padding-top: 2vh;
}

ol {
  width: 70%;
  display: inline-block;
  margin: 0 auto;
}

.to-doCol {
  color: #a052df;
}

.doneCol {
  color: #AFC907;
}

.tasks {
  color: #3f3f3f;
}

.done {
  color: lightgray;
}

.check {
    margin-right: 1.25vw;
    margin-bottom: 1.5vh;
    font-family: 'Playfair Display', serif;
    background-color: whitesmoke;
    width: 30px;
    height: 25px;
    cursor: pointer;
    border: 1.5px solid #3f3f3f;
    border-radius: 3px;
    padding-top: .5vh;
  }

  .check p {
    margin-top: -5px;
    font-size: .8rem;
  }

  .done .check,
  .done .delete-task {
    color: lightgrey;
    border: lightgrey;
  }

  .done .check:hover,
  .done .delete-task:hover {
    color: #3f3f3f;
  }

  .check:hover {
    background-color: #B0C90A;
    border: 2px solid #90a506;
  }
  
/* delete buttons  */
.delete-task {
  margin-right: 1.25vw;
  margin-bottom: 1.5vh;
  padding: .3vh 0 1vh 0;
  font-family: 'Playfair Display', serif;
  background-color: whitesmoke;
  width: 30px;
  height: 25px;
  cursor: pointer;
  border: 1.5px solid #3f3f3f;
  border-radius: 3px;
  font-size: .7rem;
}

.delete-task:hover {
  background-color: #f59cc5;
  border: 1.5px solid #fd7bb8;
}

@media (min-width: 300px) and (max-width: 992px) {
  ol {
    width: 90%;
  }

  .title {
    margin: .25rem;
    width: 100%;
  }

  .container {
    padding-top: .5rem;
  }

}